@font-face {
  font-family: "Bodoni Moda";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("./bodoni-500-italic.woff2") format("woff2");
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./jost-400.woff2") format("woff2");
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./jost-500.woff2") format("woff2");
}
