@font-face {
  font-family: Amiri;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./amiri-400.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: Amiri;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./amiri-700.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}
